<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- maven build 시 mapper xml찾지못하는 오류 방지하기위해 임시로 작성한 mapper xml -->
<mapper namespace="kr.ync.project.mapper.FQnABoardMapper">
<!-- 리스트 -->
<select id="listAll" resultType="FQnABoardVO">
<![CDATA[
SELECT
BOARD_IDX, TITLE, WRITEDATE, WRITER, ANSWER
FROM
TA_BOARD
WHERE BOARD_CODE = '03'
]]>
</select>
<!-- 상세보기 -->
<select id="read_Qna" resultType="FQnABoardVO">
<![CDATA[
SELECT
BO.BOARD_IDX, TITLE, WRITEDATE, WRITER, "replytext", CONTENT
FROM
TA_BOARD BO, TA_ANSWER AN
WHERE BO.BOARD_IDX = #{BOARD_IDX} AND BO.BOARD_IDX = AN."bno"
]]>
</select>

</mapper>
