<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- maven build 시 mapper xml찾지못하는 오류 방지하기위해 임시로 작성한 mapper xml -->
<mapper namespace="kr.ync.project.mapper.ReservationMapper">

	<!-- 상세보기 -->
	<select id="read" resultType="ReservationVO">
		<![CDATA[
		   SELECT
				RE.RE_IDX, RE.TOTALPRICE, RE.DEPOSIT, RE.ADAULT_NUMBER, RE.CHILD_NUMBER, RE.BABY_NUMBER, RE.RE_DATE, RE.KOREAN_NAME, RE.ENGLISH_NAME,
				RE.BIRTH, RE.PHONE, RE.EMAIL, RE.REQUESTED, RE.STATUS, RE.ID, RE.SEX, RE.PRODUCT_CODE,
				PR.PRODUCT_NAME, NA.NATION_NAME, CI.CITY_NAME, PR.DEPARTURE_DATE, PR.ARRIVAL_DATE, PR.TRANSPORTATION, 
				SU.SUB_KOREAN_NAME, SU.SUB_ENGLISH_NAME, SU.SUB_BIRTH, SU.SUB_PHONE, SU.SUB_EMAIL, SU.SUB_SEX
		   FROM    TA_RESERVATION RE, TA_PRODUCT PR, TA_SUBSCRIBER SU, TA_CITY CI, TA_NATION NA
		   WHERE   RE.RE_IDX = #{RE_IDX}
				   AND RE.RE_IDX = SU.RE_IDX 
				   AND RE.PRODUCT_CODE = PR.PRODUCT_CODE
				   AND CI.CITY_CODE = PR.CITY_CODE
				   AND NA.NATION_CODE = PR.NATION_CODE
		   ]]>
	</select>

	<!-- 페이징 리스트 -->
	<select id="listPage" resultType="ReservationVO">
   <![CDATA[
   SELECT   *
    FROM   (SELECT    /*+INDEX_DESC(tbl_board pk_board)*/
               rownum rn,
              RE_IDX, TOTALPRICE, DEPOSIT, ADAULT_NUMBER, CHILD_NUMBER, BABY_NUMBER, RE_DATE, KOREAN_NAME, ENGLISH_NAME,
				BIRTH, PHONE, EMAIL, REQUESTED, STATUS, ID, SEX, PRODUCT_CODE, PRODUCT_NAME
           FROM   TA_RESERVATION RE, TA_PRODUCT PR
         WHERE   rownum <= #{page} * #{perPageNum}
         AND      RE_IDX > 0  AND RE.PRODUCT_CODE = PR.PRODUCT_CODE
         )
   WHERE    rn > (#{page} -1) * #{perPageNum}
   ORDER BY RE_IDX DESC
   ]]>
	</select>

	<!-- 페이징 카운팅 -->
	<select id="countPaging" resultType="int">
   <![CDATA[
   SELECT   count(RE_IDX) 
   FROM   TA_RESERVATION 
   WHERE   RE_IDX > 0 AND BOARD_CODE = '03'
   ]]>
	</select>

	<!-- 검색조건 -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'i'.toString()">
				AND ID LIKE '%'|| #{keyword}||'%'
			</if>
			<if test="searchType == 'ok'.toString()">
				AND STATUS = '01'
			</if>
			<if test="searchType == 'no'.toString()">
				AND STATUS = '02'
			</if>
		</if>
	</sql>

	<!-- 리스트 -->
	<select id="listSearch" resultType="ReservationVO">
   <![CDATA[
      SELECT   *
      FROM  (SELECT    /*+INDEX_DESC(tbl_board pk_board)*/
               rownum rn,
              RE.RE_IDX, RE.TOTALPRICE, RE.DEPOSIT, RE.ADAULT_NUMBER, RE.CHILD_NUMBER, RE.BABY_NUMBER, RE.RE_DATE, KOREAN_NAME, ENGLISH_NAME,
				BIRTH, PHONE, EMAIL, REQUESTED, STATUS, ID, SEX, RE.PRODUCT_CODE, PR.PRODUCT_NAME
           FROM   TA_RESERVATION RE, TA_PRODUCT PR
   ]]>
		<where>
			<include refid="search"></include>
            <![CDATA[
            AND rownum <= #{page} * #{perPageNum}
             AND STATUS IN('01', '02')
            AND RE_IDX > 0 AND RE.PRODUCT_CODE = PR.PRODUCT_CODE
              
            ]]>
		</where>
		<![CDATA[
		ORDER BY RE.RE_IDX )
		]]>
		
   <![CDATA[
      WHERE rn > (#{page} -1) * #{perPageNum}
      
   ]]>
	</select>

	<!-- 리스트 카운팅 -->
	<select id="listSearchCount" resultType="int">
   <![CDATA[
      SELECT  count(RE_IDX)
      FROM   TA_RESERVATION
   ]]>

		<where>
			<include refid="search"></include>
      <![CDATA[
         AND RE_IDX > 0 AND STATUS IN('01', '02')
      ]]>
		</where>
		
	</select>
</mapper>
