<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- maven build 시 mapper xml찾지못하는 오류 방지하기위해 임시로 작성한 mapper xml -->
<mapper namespace="kr.ync.project.mapper.memberMapper">
	
	<!--  회원 리스트 -->
	<select id="listAll" resultType="MemberVO">
		<![CDATA[
		SELECT
			ROWNUM, 
			NAME, 
			ID, 
			EMAIL, 
			PHONE, 
			GET_MILEAGE
		FROM
			TA_MEMBER
		WHERE
			GRADE IS NULL
		]]>
	</select>
	
	<!--  회원 정보 상세보기 -->
	<select id="read" resultType="MemberVO">
		<![CDATA[
		SELECT
			ROWNUM, 
			NAME, 
			ID, 
			PASSWD,
			EMAIL, 
			BIRTH,
			PHONE, 
			GRADE
		FROM 	
			TA_MEMBER
		WHERE 
			ID = #{id}
		]]>
	</select>
	
</mapper>