<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- maven build 시 mapper xml찾지못하는 오류 방지하기위해 임시로 작성한 mapper xml -->
<mapper namespace="kr.ync.project.mapper.productMapper">

	<insert id="create">
	insert into TA_PRODUCT *
	values(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)	
	</insert>
	
	<select id="listAll" resultType="FProductVO">
	<![CDATA[
		SELECT  PRODUCT_NAME, ADULT_PRICE, ROOT, p.PRODUCT_CODE
		FROM 	TA_PRODUCT p, TA_PROIMG pi 
		WHERE   p.PRODUCT_CODE = pi.PRODUCT_CODE
		AND     p.NATION_CODE =  #{nation_code}
		]]>
	</select>
	
	<select id="read" resultType="FProductVO">
		SELECT  *
		FROM 	TA_PRODUCT p , TA_CITY c, TA_NATION n, TA_PROIMG pi
		WHERE	p.PRODUCT_CODE = #{product_code}
		AND     p.CITY_CODE = c.CITY_CODE
		AND     c.NATION_CODE = n.NATION_CODE
		AND     p.PRODUCT_CODE = pi.PRODUCT_CODE
		
	</select>

	
	
</mapper>
