<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ync.project.mapper.replyMapper">

	<select id="list" resultType="ReplyVO">
		SELECT *
		FROM TA_ANSWER
		WHERE "bno" = #{bno}
		ORDER BY "rno" DESC
	</select>

	<insert id="create">
		INSERT INTO TA_ANSWER ("rno", "bno", "replytext", regdate, BOARD_CODE)
		VALUES (QNA_IDX_CRE.NEXTVAL, #{bno}, #{replytext}, CURRENT_TIMESTAMP, '03')
	</insert>

	<update id="update">
		UPDATE TA_ANSWER SET "replytext" = #{replytext},
		"regdate" = CURRENT_TIMESTAMP
		WHERE "rno" = #{rno}
	</update>

	<delete id="delete">
		DELETE
		FROM TA_ANSWER
		WHERE "rno" = #{rno}
	</delete>

	<select id="listPage" resultType="ReplyVO">
	<![CDATA[
		SELECT	"rno",
				"bno",
				"replytext",
				"regdate"
		FROM	(SELECT		/*+INDEX_DESC(TA_ANSWER pk_reply))*/
							rownum rw,
							"rno",
							"bno",
							"replytext",
							"regdate"
				FROM		TA_ANSWER
   				WHERE		"bno" = #{bno}
   				AND 		"rno" > 0
   				AND 		rownum <= #{cri.page} * #{cri.perPageNum}
   				)
		WHERE	rownum > (#{cri.page} -1) * #{cri.perPageNum}
	]]>
	</select>
	
	<select id="count" resultType="int">
		SELECT COUNT("bno")
		FROM TA_ANSWER
		WHERE "bno" = #{bno}
	</select>
</mapper>

