<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- maven build 시 mapper xml찾지못하는 오류 방지하기위해 임시로 작성한 mapper xml -->
<mapper namespace="kr.ync.project.mapper.adminMemberMapper">

	<!--  관리자 상품 등록 -->
	<insert id="create">
		<![CDATA[
		INSERT INTO TA_MEMBER (ID, NAME, PASSWD, BIRTH, PHONE, EMAIL, GRADE, LEAVE)
		VALUES(#{ID}, #{NAME}, #{PASSWD}, #{BIRTH}, #{PHONE}, #{EMAIL}, #{GRADE}, 'N')
		]]>
	</insert>
	
	<!--  관리자 리스트 -->
	<select id="listAll" resultType="MemberVO">
		<![CDATA[
		SELECT
			ROWNUM, 
			NAME, 
			ID, 
			EMAIL, 
			PHONE, 
			GRADE
		FROM
			TA_MEMBER
		WHERE
			GRADE IS NOT NULL
		]]>
	</select>
	
	<!--  관리자 정보 상세 조회 -->
	<select id="read" resultType="MemberVO">
		<![CDATA[
		SELECT
			ROWNUM, 
			NAME, 
			ID, 
			PASSWD,
			EMAIL, 
			BIRTH,
			PHONE, 
			GRADE
		FROM 	
			TA_MEMBER
		WHERE 
			ID = #{id}
		]]>
	</select>
	
	<!--  관리자 정보 수정 -->
	<update id="modify">
		UPDATE TA_MEMBER 
		SET NAME = #{NAME},
			PASSWD = #{PASSWD},
			EMAIL = #{EMAIL},
			BIRTH = #{BIRTH}, 
			PHONE = #{PHONE},
			GRADE = #{GRADE}
		WHERE 
			ID = #{ID}
	</update>

</mapper>