<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- maven build 시 mapper xml찾지못하는 오류 방지하기위해 임시로 작성한 mapper xml -->
<mapper namespace="kr.ync.project.mapper.TipNoticeBoardMapper">

	<insert id="create">
		INSERT INTO TA_BOARD (BOARD_IDX, TITLE, ID, CONTENT,
		IMPORTMANT, BOARD_CODE)
		VALUES(IDX_CRE.NEXTVAL, #{TITLE}, #{ID},
		#{CONTENT}, #{IMPORTMANT}, '01')
	</insert>

	<select id="listAll" resultType="TipNoticeBoardVO">
		<![CDATA[
		SELECT
		BOARD_IDX, TITLE, WRITEDATE
		FROM
		TA_BOARD
		WHERE BOARD_IDX > 0 AND BOARD_CODE = '01'
		ORDER BY BOARD_IDX DESC
		]]>
	</select>

	<delete id="delete">
		delete from TA_BOARD where BOARD_IDX = #{BOARD_IDX}
	</delete>

	<select id="read" resultType="TipNoticeBoardVO">
		<![CDATA[
		   SELECT 
		   BOARD_IDX,TITLE, WRITEDATE, CONTENT, IMPORTMANT
		   FROM    TA_BOARD 
		   WHERE   BOARD_IDX = #{BOARD_IDX}
		   ]]>
	</select>

	<update id="update">
		UPDATE TA_BOARD SET TITLE =#{TITLE},
		CONTENT=#{CONTENT}, IMPORTMANT=#{IMPORTMANT},
		WRITEDATE=CURRENT_TIMESTAMP WHERE BOARD_IDX = #{BOARD_IDX}
	</update>

	<select id="listCriteria" resultType="TipNoticeBoardVO">
	 <![CDATA[
   SELECT  BOARD_IDX, TITLE, WRITEDATE
   FROM   (SELECT    /*+INDEX_DESC(tbl_board pk_board)*/
               rownum rn,
              BOARD_IDX, TITLE, WRITEDATE
           FROM   TA_BOARD
         WHERE   rownum <= #{page} * #{perPageNum}
         AND      BOARD_IDX > 0 AND BOARD_CODE = '01'
         )
   WHERE    rn > (#{page} -1) * #{perPageNum}
   ]]>
	</select>	
	<select id="listPage"  resultType="TipNoticeBoardVO">
   <![CDATA[
   SELECT    BOARD_IDX, TITLE, WRITEDATE
   FROM   (SELECT    /*+INDEX_DESC(tbl_board pk_board)*/
               rownum rn,
               BOARD_IDX, TITLE, WRITEDATE
           FROM   TA_BOARD
         WHERE   rownum <= #{page} * #{perPageNum}
         AND      BOARD_IDX > 0 AND BOARD_CODE = '01'
         )
   WHERE    rn > (#{page} -1) * #{perPageNum}
   ]]>
</select>

<select id="countPaging" resultType="int">
   <![CDATA[
   SELECT   count(BOARD_IDX) 
   FROM   TA_BOARD 
   WHERE   BOARD_IDX > 0 AND BOARD_CODE = '01'
   ]]>
</select>

<sql id="search">
   <if test="searchType != null" >
      <if test="searchType == 't'.toString()">
         AND TITLE LIKE '%'|| #{keyword}||'%'
      </if>
   </if>
</sql>

<select id="listSearch"  resultType="TipNoticeBoardVO">
   <![CDATA[
      SELECT   BOARD_IDX, TITLE, WRITEDATE
      FROM   (SELECT    /*+INDEX_DESC(tbl_board pk_board)*/
                  rownum rn,
                 BOARD_IDX, TITLE, WRITEDATE
              FROM   TA_BOARD
   ]]>
      <!--
      <where> 엘리먼트로 검색을 하지 않았을 경우 AND rownum <= 과 같이 WHERE 구문이 빠져버린다.
      따라서 <where> 를 사용하면 AND나 OR로 구문이 시작되면 AND나 OR를 지워버린다.
      아래 구문과 동일한 기능. 
      <trim prefix="WHERE" prefixOverrides="AND|OR ">
        ... 
      </trim>
      http://www.mybatis.org/mybatis-3/ko/dynamic-sql.html 참고
      -->
      <where>
            <include refid="search"></include>
            <![CDATA[
            AND rownum <= #{page} * #{perPageNum}
            AND BOARD_IDX > 0 AND BOARD_CODE = '01'
              )
            ]]>
      </where>
   <![CDATA[
      WHERE rn > (#{page} -1) * #{perPageNum}
   ]]>
</select>

<select id="listSearchCount"  resultType="int">
   <![CDATA[
      SELECT  count(BOARD_IDX)
      FROM   TA_BOARD
   ]]>
   
   <where>
      <include refid="search"></include>
      <![CDATA[
         AND BOARD_IDX > 0 AND BOARD_CODE = '01'
      ]]>
   </where>
</select>
</mapper>
